<%- include('loginModal'); -%>
<footer class="main-footer color-gradient">
    <p>Copyright by HoaiPV © 2019 -  All rights reserved <i class="heart fa fa-heart text-danger"></i></p>
    <!--    <p class="level-item">-->
    <!--        <a class="white-link" target="_blank" href="/faq">Giải đáp thắc mắc - Yêu cầu xóa review</a>-->
    <!--        &nbsp;&nbsp;|&nbsp;&nbsp;-->
    <!--        <a class="white-link" target="_blank" href="/tnc">Điều khoản sử dụng</a>-->
    <!--    </p>-->
</footer>
<div class="lightBoxGallery">
    <div id="links"></div>
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
</div>
<div id="particles-js"></div>
<script src="/js/jquery.3.1.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/toastr.min.js"></script>
<script src="/js/pace.min.js"></script>
<script src="/js/jquery.blueimp-gallery.min.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/particles.min.js"></script>
<script src="/js/stats.min.js"></script>
<script src="/js/sweetalert.min.js"></script>
<script src="/js/summernote-bs4.min.js"></script>
<script src="/js/viewer.js"></script>
<script src="/js/redactor.js"></script>
<script src="/slick/slick.min.js"></script>
<script src="/javascript/client/main.js"></script>
<% if(typeof scripts != 'undefined' && scripts.length > 0) { %>
    <% scripts.forEach(script => { %>
        <script src="/javascript/<%= script %>"></script>
    <% }) %>
<% } %>
<script>
    function auto_grow(e) {
        e.style.height = (e.scrollHeight)+"px";
    }
    $(document).ready(function(){
        $('.your-class').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            // dots: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                    }
                }
            ]
        });
    });
</script>
</body>
</html>