<div class="modal-popup" id="loginModal">
    <div class="modal-popup-background"></div>
    <div class="login-modal-popup">
        <div class="btn-cancer btn-close" data-dismiss="modal"></div>
        <div class="frame">
            <div class="title">Đăng nhập hệ thống</div>
            <div class="content" style="text-align:center">
                Bạn vui lòng đăng nhập để thực hiện chức năng này.
            </div>
            <div class="btns">
                <a class="btn btn-login" href="/login"><i class="fa fa-facebook-square"></i> Đăng nhập</a>
                <a class="btn btn-cancel" data-dismiss="modal">Huỷ</a>
            </div>
        </div>
    </div>
</div>