

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
}

::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: linear-gradient(to right, #2b5876, #4e4376);
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: linear-gradient(to right, #2b5876, #4e4376);
}

.text-vip {
    color: #0c485d;
}

.color-gradient {
    background: #141E30 !important;
    background: -webkit-linear-gradient(to left, #243B55, #141E30) !important;
    background: linear-gradient(to left, #243B55, #141E30) !important;
}
HTML,BODY{
    cursor: url("../cursor/clovel.cur"), progress;
}
body {
    font-family: 'Quicksand', sans-serif;
    /* background: linear-gradient(#061234,#27326f); */
    /* background: linear-gradient(#07153e,#0e1229); */
    background: #154758;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffffff, #154758);
    background: linear-gradient(to bottom, #ffffff, #154758);
    min-height: calc(100vh);
    /* margin-top: 30px; */
    word-wrap: break-word;
    box-sizing: border-box;
}
a:hover,a:link,a:visited
{
    text-decoration: none;
    cursor : url("../cursor/link.cur"), progress;
}
a:link{
    text-decoration: none!important;
    /*color: #0c485d !important;*/
  }
header {
    box-shadow: 0 3px 8px rgba(22, 22, 25, 0.9);
    padding: 12px 30px;
    z-index: 999;
    color: #fff;
}
header span{
    font-size: 18px;
    color: #fff;
}
header .logo {
    height: 50px;
    float: left;
    display: flex;
    justify-content: center;
}
.logo a h1{
    color: #fff !important;
    font-size: 30px !important;
    margin-left: 10px;
    line-height: 50px;
}
.logo:hover {
    /* background: #922a2a;
    color: #dadada; */
}
nav {
    float: right;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    height: 50px;
    justify-content: center;
    align-items: center;
    }
nav ul li {
    list-style: none;
}
nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    transition: 0.5s;
    box-sizing: border-box;
}

nav ul li button {
    margin: 10px;
}

nav ul li a:hover,
nav ul li a.active {
    /* background: #069370; */
    border-bottom: 3px solid #fff;
    color: #fff;
}
#particles-js {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.breadcrumb {
    background: transparent !important;
}
.breadcrumb a {
    color: red !important;
}
.breadcrumb li:hover a {
    color: #0c485d !important;
    font-weight: 500;
}
.clearfix {
    clear: both;
}
.content {
    margin: 30px 25px;
}
.card {
    margin-top: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}
.card-body {
    padding: 1rem !important;
    background: #485058;
    color: #fff !important;
}
.text-muted {
    color: #909090!important;
}
.card-img {
    overflow: hidden;
    cursor: pointer;
}
.card-title {
    cursor: pointer;
    font-weight: 600;
}
.card img{
    transition: 0.5s;
}
.card-title:hover .card-img img,
.card-img:hover img{
    transform: scale(1.2);
}
.card-title:hover,
.card-img:hover ~.card-body .card-title{
    color: yellow;
}
.count-image {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 3px;
    background: #777271;
    color: #fff;
    padding: 2px 7px 1px;
}
.btn-success {
    font-weight: 700;
    background: #1bb76e;
    border-color: #1bb76e
}
.btn-success:hover,
.btn-success:focus,
.btn-success:not(:disabled):not(.disabled).active, 
.btn-success:not(:disabled):not(.disabled):active:focus{
    background: #03a056;
    border-color: #03a056;
}

.btn-success:not(:disabled):not(.disabled).active, 
.btn-success:not(:disabled):not(.disabled):active:focus {
    transform: translate3d(0,-1px,0);
    -webkit-transform: translate3d(0,-1px,0);
}
.photo-preview {
    display: none;
    color: #1bb76e;
    margin-top: 10px;
    padding: 5px;
    border: 1px dashed #03a056;
    max-height: 500px;
    overflow-y: auto;
}
.img-preview {
    margin: 5px 5px;
    max-width: 100px;
    max-height: 100px;
}
.custom-file{
    cursor: pointer;
}
.preloader {
	display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999999999;
    overflow: hidden;
    background-color: rgba(5, 5, 31, 0.9);
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(http://monde.elitelayers.com/html/images/icons/preloader.svg);
    background-size: 15%;
}
@media(max-width: 768px) {
    nav {
        display: none;
    }
    .toggle-nav {
        display: block;
        width:40px;
        height: 40px;
        background: #dadada;
        float: right;
        margin: 5px;
        font-size: 30px;
        text-align: center;
        color: #1f1865;
        cursor: pointer;
    }
    .toggle-nav:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
        transition: 0.5s;
    }
    .toggle-nav.active:before {
        content: '\f00d';
    }
    nav.active {
        display: block;
        width: 100%;
        transition: 0.5s;
    }
    nav.active ul {
        margin-top: 10px;
        display: block;
        height: auto;
    }
    nav.active a {
        display: block;
    }
}
footer {
    background: #030819;
    color: #fff;
    text-align: center;
    padding: 5px; 
}

footer p{
    margin-bottom: 0;
}
.card-img-top {
    /* max-width: 250px;
    max-height: 260px; */
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .pace-inactive {
    display: none;
  }
  
  .pace .pace-progress {
    background: #f70606;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
  
  .pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #f70606, 0 0 5px #f70606;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }
  
  .pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #f70606;
    border-left-color: #f70606;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
  }
  
  @-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
  }

.menu {
    display:flex;
    justify-content: flex-end;
}
.menu button {
    margin-left: 10px;
}
#links a{
    display:none !important;
}
/*#blueimp-gallery {*/
/*  max-width: 90%;*/
/*  max-height: 90%;*/
/*  margin: auto auto;*/
/*}*/
.title,
.close,
.prev,
.next,
.play-pause
{
  color: #fff !important;
  cursor: pointer !important;
  opacity: .8 !important;
}
.title {
    font-weight: 700 !important;
    font-size: 30px !important;
    display: inline !important;
}
.close{
    padding: 2px 7px !important;
    background: #fff !important;
    color: #061234 !important;
    display: inline !important;
}
header .dropdown-menu.show {
    top: 50px !important;
    left: -85px !important;
}
header .dropdown {
    display: inline-block !important;
}
header button {
    margin-right: 10px;
}
.dt-buttons span {
    cursor: pointer !important;
}
.hero-img {
    margin-left: -64px;
    margin-right: -64px;
    height: 250px;
    overflow: hidden;
    box-shadow: 0 4px 3px rgba(10, 10, 10, 0.1);
    /*opacity: 0.4;*/
    background: linear-gradient(to right, #464d5c, #302b63, #24243e);
    position: relative;
}

.hero-img-gradient {
    position: absolute;
    top: 0;
    left: -64px;
    right: -64px;
    height: 250px;
    opacity: 0.8;
    background: linear-gradient(to right, #0e4684, #1d2850, #52546f);
}

.section-mask {
    background-color: rgba(0,0,0,0.3);
    background-image: url("../img/overlay-pattern.png");
}

.hero-img img {
    width: 100%;
}

.hero-form {
    width: 90%;
    z-index: 1;
    color: #fff;
    text-align: center;
    margin: -380px auto 0;
}

.hero-form h1 {
    font-weight: 600;
    line-height: 1.125;
}
.hero-form .form-group {
    width: 60%;
    margin: 25px auto 0;
    position: relative;
}
.hero-form .form-group .form-control {
    background: rgba(255, 255, 255, 0.2);
    color: #FFF;
    height: 50px;
    border-width: 2px;
    border-color: rgba(255, 255, 255, .8);
    padding-left: 15px;
    padding-right: 60px;
    font-size: 18px;
}
.hero-form .form-group .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.9);
}

.hero-form .form-group .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.9);
}

.hero-form .form-group .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.9);
}

.hero-form .form-group .form-control:focus {
    border-color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.3);
}

.hero-form .form-control:focus {
    border-color: #FE8800;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hero-form .form-group .btn {
    background: none;
    color: #FFF;
    position: absolute;
    top: 0
;
    right: 2px;
    font-size: 25px;
}

.main-container {
    min-height: calc(100vh - 140px);
    margin-bottom: 10px;
}
.columns {
    margin-top: -30px;
}
.main {
    /*border: 1px solid #ccc;*/
    overflow: hidden;
    border-top: none;
}
.list-subject {
    min-height: 200px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);
}

.list-subject h3 {
    align-self: center;
    flex: 1;
    text-align: center;
}

.subject-name {
    /*color: #fff;*/
    /*background: #218eaf;*/
    /*padding: 3px;*/
    /*border-radius: 30px;*/
    color: #000 ;
    font-weight: bold;
}
.folder:hover .subject-name {
    color: red ;
    /*color: #fff;*/
    /*background: #085a73;*/
}
.sidebar {
    padding-right: 0 !important;
}
.rank,
.sum-doc,
.sum-online
{
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);
}
.sum-doc,
.sum-online {
    text-align: center;
}
.folder {
    flex: 1;
    max-width: 130px;
    /*border: 1px solid red;*/
    margin: 10px;
}
.folder-infor {
    /*border: 1px solid red;*/
    position: relative;
    text-align: center;
    width: 125px;
}
.folder-infor img {
    width: 100%;
}
.folder-infor h3 {
    /*position: absolute;*/
    /*top: 80px;*/
    /*color: #fff;*/
    /*text-align: center;*/
}

.detail {
    position: absolute;
    top: 74px;
    left: 33px;
    color: #292926;
}
.main-footer {
    color: #fff;
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7);
    flex-basis: 40px;
    padding: 0.5rem 0;
}
.load-data {
    display: none;
    text-align: center;
    width: 100px;
    margin: auto;
    opacity: .5;
}
.load-data img {
    width: 100%;
}
.list-doc,
.doc-control {
    background: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);
}
.doc-control {
    padding: 15px 20px;
    margin-bottom: 10px ;
}
.vote-item {
    padding: 20px 25px;
    background: #ffffff;
    border-top: 1px solid #e7eaec;
}
.vote-item:first-child {
    border-top: none;
}
.vote-actions {
    font-weight: 600;
}
.vote-actions {
    float: left;
    width: 30px;
    margin-right: 15px;
    text-align: center;
}
.vote-title {
    color: #0b3eb1 !important;
    margin-left: 45px;
}
.vote-title:hover {
    color: red !important;
}

.vote-title {
    display: block;
    color: inherit;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 2px;
}
.vote-info, .vote-info a {
    margin-top: 10px;
    color: #b4b6b8;
    font-size: 13px;
}
.vote-info i {
    margin-left: 10px;
}
.vote-info, .vote-title {
    margin-left: 45px;
}
.vote-icon {
     text-align: right;
     font-size: 38px;
     display: block;
     color: #e8e9ea;
 }
.doc-view {
    background: #fff;
    padding: 10px 10px;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);
}
.doc-filter {
    margin-top: 10px;
}
.doc-filter .dropdown-menu.show{
    /*right: 0px !important;*/
    /*max-width: 200px;*/
    overflow-x: auto;
}
.doc-view h2 {
    font-weight: bold;
}

.doc-view h5,
.doc-view h2
{
    margin-left: 10px;
    margin-bottom: 0 !important;
}
.doc-info {
    margin-top: 5px;
    margin-left: 20px;
    font-size: .8rem;
}
.doc-info i{
    color:red;
    margin: 0 5px 0 15px;
}
.doc-note {
    padding: 15px;
}
.list-file {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}

.file-box {
    /*float: left;*/
    width: 200px;
    margin: 10px 10px 10px 0;
}
.file {
    border: 1px solid #e7eaec;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    /*margin-bottom: 20px;*/
    /*margin-right: 20px;*/
}
.corner {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 0.6em solid transparent;
    border-right: 0.6em solid #f1f1f1;
    border-bottom: 0.6em solid #f1f1f1;
    right: 0em;
    bottom: 0em;
}
.file-action {
    top: -50px;
    position: absolute;
    overflow: hidden;
    transition: .3s;
    /*top: 35px;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}
.file-action.view {
    left: -50px;
    border-bottom-right-radius: 15px;
}
.file-action.download {
    right: -50px;
    border-bottom-left-radius: 15px;
}
.file-action a{
    font-size: 1.25rem;
    padding: 5px 10px;
    background: #000;
    opacity: .8;
    color: #fff !important;
}
.file-action:hover a {
    opacity: 1;
}
.file .icon {
    /*background: #000;*/
    /*opacity: .7;*/
    padding: 15px 10px;
    text-align: center;
}

.file .icon,
.file .image {
    height: 100px;
    overflow: hidden;
}
.file .image img {
    transition: .5s;
}
.file:hover .image img {
    transform: scale(1.2);
}
.file .icon i {
    font-size: 70px;
    color: #dadada;
}
.file .file-name {
    color: #000 !important;
    font-size: .9rem;
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7eaec;
}
.file-name small {
    color: #676a6c;
}
.file:hover .file-action.view{
    top: 0;
    left: 0;
}
.file:hover .file-action.download{
    top: 0;
    right: 0;
}
.fb-cmt {
    margin: 20px;
}
@media (max-width:576px) {
    .logo a h1{
        /*color: red !important;*/
        font-size: 1rem !important;
        /*display: none;*/
    }
    .btn-upload {
        display: none;
    }
    .folder-infor {
        width: 100px;
    }
    .detail {
        font-size: 13px;
        top: 57px;
        left: 26px;
    }
    .folder {
        max-width: 105px;
    }
    .sidebar {
        padding-right: 15px !important;
        margin-top: 10px;
    }
    .list-subject {
        margin: 0 !important;
    }
}
@media (max-width:1024px) {
    .hero-form {
        margin: -325px auto 0;
    }
}
@media (max-width:768px) {
    header {
        padding: 7px 15px;
    }
    .main-container {
        padding: 0 5px !important;
    }
    .profile span {
        display: none;
    }
    .hero-img {
        margin-left: -5px;
        height: 175px;
        margin-right: -5px;
    }
    .hero-form {
        margin: -131px auto 0;
    }
    .hero-form h1 {
        font-size: 1.5rem;
    }
    .hero-form .form-group .form-control {
        height: 44px;
    }
    .hero-form .form-group .btn {
        background: none;
        color: #FFF;
        position: absolute;
        top: 3px;
        right: 2px;
        font-size: 1rem;
    }
    .hero-form .form-group {
        width: 90%;
        margin: 15px auto 0;
    }
    .file-box {
        width: 145px;
        margin: 5px;
    }
    .list-file {
        justify-content: space-evenly;
    }
    .vote-icon {
        display: none;
    }
}

@media (min-width:576px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem
    }
    .card-columns .card {
        display: inline-block;
        width: 100%
    }
}
@media (min-width:768px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem
    }
    .card-columns .card {
        display: inline-block;
        width: 100%
    }

    /*#blueimp-gallery {*/
    /*    max-width: 95% !important;*/
    /*    max-height: 95% !important;*/
    /*}*/
}
@media (min-width:992px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem
    }
    .card-columns .card {
        display: inline-block;
        width: 100%
    }
}
@media (min-width:1200px) {
    .card-columns {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6;
        -webkit-column-gap: 1rem;
        -moz-column-gap: 1rem;
        column-gap: 1rem
    }
    .card-columns .card {
        display: inline-block;
        width: 100%
    }
}