    </div>
</div>
<!-- JAVASCRIPT
================================================== -->
<!-- Libs JS -->
<script src="/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/admin/assets/libs/chart.js/dist/Chart.min.js"></script>
<script src="/admin/assets/libs/chart.js/Chart.extension.min.js"></script>
<script src="/admin/assets/libs/highlight/highlight.pack.min.js"></script>
<script src="/admin/assets/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="/admin/assets/libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="/admin/assets/libs/list.js/dist/list.min.js"></script>
<script src="/admin/assets/libs/quill/dist/quill.min.js"></script>
<script src="/admin/assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="/admin/assets/libs/select2/dist/js/select2.min.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/toastr.min.js"></script>
<script src="/js/dataTable/jquery.dataTables.min.js"></script>
<script src="/js/dataTable/dataTables.bootstrap4.min.js"></script>
<!--<script src="/js/dataTable/dataTables.responsive.min.js"></script>-->
<!--<script src="/js/dataTable/responsive.bootstrap4.min.js"></script>-->
<script src="/js/pace.min.js"></script>
<!--<script src="/javascript/main.js"></script>-->
<!-- Theme JS -->
<script src="/admin/assets/js/theme.min.js"></script>
<script>
    const pathname = window.location.pathname;
    $('.nav-link').each(function(){
        if ($(this).attr('href') === pathname) {
            $(this).addClass('active');
        }
    })

    function getSlug(str)
    {
        str = str.toLowerCase();
        str = str.replace(/(à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ)/g, 'a');
        str = str.replace(/(è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ)/g, 'e');
        str = str.replace(/(ì|í|ị|ỉ|ĩ)/g, 'i');
        str = str.replace(/(ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ)/g, 'o');
        str = str.replace(/(ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ)/g, 'u');
        str = str.replace(/(ỳ|ý|ỵ|ỷ|ỹ)/g, 'y');
        str = str.replace(/(đ)/g, 'd');
        str = str.replace(/([^0-9a-z-\s])/g, '');
        str = str.replace(/(\s+)/g, '-');
        str = str.replace(/^-+/g, '');
        str = str.replace(/-+$/g, '');
        return str;
    }
</script>

<% if(typeof scripts != 'undefined' && scripts.length > 0) { %>
    <% scripts.forEach(script => { %>
        <script src="/javascript/<%= script %>"></script>
    <% }) %>
<% } %>
</body>
</html>