<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/img/ninja-coder.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="" />
    <meta property="og:image" content=""/>
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
<!--    <link href="/css/datatables.min.css" rel="stylesheet" />-->
    <link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="/css/toastr.min.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
<!--    <link href="/css/style.css" rel="stylesheet" />-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet" />
    <title><%= title %></title>
    <style>
        body {
            font-family: 'Quicksand', sans-serif;
        }
    </style>
</head>

<body class="animated">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">UTC Communication</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="document">Tài liệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faculty">Khoa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="subject">Môn học</a>
                </li>
            </ul>
        </div>
    </nav>