
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/img/ninja-coder.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="/admin/assets/fonts/feather/feather.min.css">
    <link rel="stylesheet" href="/admin/assets/libs/highlight/styles/vs2015.min.css">
    <link rel="stylesheet" href="/admin/assets/libs/quill/dist/quill.core.css">
    <link rel="stylesheet" href="/admin/assets/libs/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/admin/assets/libs/flatpickr/dist/flatpickr.min.css">

    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!--    <link href="/css/datatables.min.css" rel="stylesheet" />-->
    <link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="/css/toastr.min.css" rel="stylesheet" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/admin/assets/css/theme.min.css">

    <title>Dashkit</title>
</head>
<body>
    <!-- MODALS
    ================================================== -->
    <%- include('sidebar'); -%>
    <!-- MAIN CONTENT
     ================================================== -->
    <div class="main-content">
    <%- include('topbar'); -%>
    <div class="container-fluid mt-5">